body{
    background-color:rgb(190, 157, 157);
    word-spacing: 3px;
    letter-spacing: -1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2px;
    line-height: 40px;
    font-size: 20px;
}
h1{
    color:  black ;
    text-align:center;
    text-shadow: 2px 4px whitesmoke;
    text-indent: 0.5px;
    text-decoration: underline black dotted;

}
p{
    text-align: left;
}
