@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	margin: 0;
	padding: 1;
	color: #000;
}
/* @media(max-width: 1000px){
  .content{
    width: 55%;
  }
}
  @media(max-width: 750px){
    .content{
      width: 45%;
    }

} 
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px;
}
a img { 
	border: none;
}

#banner{
  width: fit-content;
  height: 400px;
  margin-top: 150px;
  background-color: #003C69;
}


a:link {
	color:#414958;
  text-decoration: none;
}
a:visited {
	color: black;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}


.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FFF;
	margin: 0 auto; 
}


.header {
  position: absolute;
  top: 15px;
  left: 15px;
  transform: translate(-10%, -10%);
}


.content {
	padding: 10px 0;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}


.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#btn1 {
  position: absolute;
  text-align: center;
  height: 50px;
  width: 134px;
  right: 150px;
  top: 8px;
  --c: #003C69; /* the color */
  --b: .1em;    /* border length*/
  --d: 20px;    /* the cube depth */
  --h: 1.2em;   /* the height  */ 

  --_s: calc(var(--d) + var(--b));
  color: #0000;
  text-shadow: 
    0 calc(-1*var(--_t,0em)) var(--c), 
    0 calc(var(--h) - var(--_t,0em)) #fff;
  border: solid #0000;
  overflow: hidden;
  border-width: var(--b) var(--_s) var(--_s) var(--b);
  background:
    linear-gradient(var(--c) 0 0) -1px 100%
     /101% var(--_p,0%) no-repeat,
    conic-gradient(from -90deg at right var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at right var(--_s) bottom var(--_s),
      var(--c) 270deg,#0000 0) 100% 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(var(--d),var(--d));
  clip-path: 
    polygon(
      0% 0%,
      calc(100% - var(--d)) 0%,
      calc(100% - var(--d)) 0%,
      calc(100% - var(--d)) calc(100% - var(--d)),
      0 calc(100% - var(--d)),
      0 calc(100% - var(--d))
    );
  transition: 0.5s;
}
#btn1:hover {
  transform: translate(0,0);
  clip-path: 
    polygon(
      0% 0%,
      calc(100% - var(--d)) 0%,
      100% var(--d),
      100% 100%,
      var(--d) 100%,
      0 calc(100% - var(--d))
    );
  --_t: var(--h);
  --_p: 105%;
}
/* #btn001:hover {
  background-color: #ffffff;
    
} */
#btn2 {
  position: absolute;
  text-align: center;
  height: 50px;
  width: 134px;
  right: 5px;
  top: 8px;
  --c: #FFD700; /* the color */
    --b: .1em;    /* border length*/
    --d: 20px;    /* the cube depth */
    --h: 1.2em;   /* the height */
    
    --_s: calc(var(--d) + var(--b));
  
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) var(--c), 
      0 calc(var(--h) - var(--_t,0em)) #fff;
    border: solid #0000;
    overflow: hidden;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
      linear-gradient(var(--c) 0 0) 100% 100%
       /101% var(--_p,0%) no-repeat,
      conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
      conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
      polygon(
       var(--d) 0%, 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)),
       100% calc(100% - var(--d)),
       var(--d) calc(100% - var(--d))
      );
    transition: 0.5s;
  }
  #btn2:hover {
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
    --_t: var(--h);
    --_p: 105%;
  }  
.primg0
{
	max-width: 150px;
	max-height: 200px;
}
.card {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
	display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
  text-align:center;
  background: #f2f2f2;
}
.card:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px , -8px);
}
.pcard {
	display: inline-flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align:center;
	
}
.pbutton{
        position : absolute;
		text-align: center;
        background-color: beige;
        height: 50px;
        width: 100px;
		 margin-left: 50px;
  margin-right: 50px;
        border-radius: 5px;
        display: inline-block;
 
}
.pform {
	 position : absolute;
		text-align: center;
       margin-left: 500px;
  margin-right: 500px;
       display: inline-block;
	
}
/* Start Search bar */

* {
  box-sizing: border-box;
}

/* Style the search field */
.searchbtn{
    position: relative;
    height: 1px;
}

.input {
  position: absolute;
    top: 26px;
    right: 200px;
    padding: 10px;
    width: 50px;
    height: 38px;
    background: none;
    border: 4px solid #003C69;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: #003C69;
    outline: none;
    transition: .5s;
}
.searchbtn:hover input{
    width: 350px;
    background: white;
    border-radius: 10px;
}
.searchbtn i{
    position: absolute;
    top: 45px;
    right: 200px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #003C69;
    transition: .2s;
}
.searchbtn:hover i{
    opacity: 0;
    z-index: -1;
}
#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  text-align: center;
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.box {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
}

/* form.srcbartn button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
  margin-top: 160px;
}

form.srcbartn button:hover {
  background: #003C69;
}
form.srcbartn::after {
  content: "";
  clear: both;
  display: table;
}
 */


/* End Search bar */


/* Start Nav Search  */
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin: 50px 0; */
  }
  .buy-1{
    font-size: 24px;
      width: 100%;
      background: red;
      padding-left: 53px;
      padding-right: 53px;
      padding-top: 10px;
      padding-bottom: 18px;
      border: 0;
      outline: none;
      cursor: pointer;
      margin-top: 5px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }
  .buy-2{
    font-size: 24px;
      width: 100%;
      background: red;
      padding-left: 53px;
      padding-right: 53px;
      padding-top: 10px;
      padding-bottom: 18px;
      border: 0;
      outline: none;
      cursor: pointer;
      margin-top: 5px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }
  .buy-3{
    font-size: 24px;
      width: 100%;
      background: red;
      padding-left: 53px;
      padding-right: 53px;
      padding-top: 10px;
      padding-bottom: 18px;
      border: 0;
      outline: none;
      cursor: pointer;
      margin-top: 5px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }
  .buy-4{
    font-size: 24px;
      width: 100%;
      background: red;
      padding-left: 53px;
      padding-right: 53px;
      padding-top: 10px;
      padding-bottom: 18px;
      border: 0;
      outline: none;
      cursor: pointer;
      margin-top: 5px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }
  
.product-filter {
	display: flex;
}

.product-filter h1 {
  flex-grow: 1;
}

.sort {
  display: flex;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

li {
  background-color: #e6e6e6 ;
  
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;

  display: flex;
}

/* End Nav Search  */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.product-card {
    position: relative;
    margin: 50px auto;
     width: 22%;
     margin: 15px;
     box-sizing: border-box;
    display: inline-block;
     border-radius: 20px;
     cursor: pointer;
     padding-top: 10px;
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
     transition: .4s;
     text-align:center;
     background: #f2f2f2;
  }


.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: red;
}

.product-links > :nth-child(2):hover {
    color: #fbb72c;

}
.box .shopping{
  font-weight:bolder;
  color: white;
  position: absolute;
  padding: 10px;
  top: 100%;
  left: 45%;
  background-color: red;
  color: #fff;
}
